.btn {
  border-radius: 0;
  border: none;
  outline: none;
  font-weight: inherit;
}

.btn-primary {
  @include btn-primary-reset;
}

.open {
  >.dropdown-toggle {
    &.btn-primary {
      @include btn-primary-reset;
    }
  }
}

.btn-search {
  background-color: $brand-primary;
  padding: 1.4rem 0;
  outline: none;
  border: none;
}

.btn-input-search {
  padding: 1.4rem;
  color: $white;
  background-color: $brand-primary;
  border: none;
  outline: none;
}

.btn-secondary {
  @include btn-default-reset;
}
