.module-heading {
  color: $brand-primary;
  background-color: $brand-background;
  border: none;
  padding: 1.5rem;
  font-size: $font-size-17;
  font-weight: $font-weight-600;
  
}
.side-heading{
  color: $brand-primary;
  font-weight: $font-weight-600;
  margin: 1rem 0;
}
.keyword-list {
  padding: 1rem 0 0 0;
  list-style: none;
  li {
    @include tag-list-item;

    a {
      color: inherit;
    }
  }
}

.nav-simple {
  >li {
    border-bottom: none;
  }
}

.tags {
  >ul {
    outline: none;
    background-color: inherit;
    border: none;
    padding-left: 0;

    .tag {
      @include tag-list-item;
    }
  }
}

.module-footer {
  border-top: none;
}
