.module-content,
.tab-content {
  .featured-item {
    flex: 1 0 40%;
  }
}

.featured-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 1 21.5%;
  margin: $gutter-md;
  padding: $gutter-lg;
  background-color: $white;
  box-shadow: 0 0 30px 0 fade($black, 10%);
  color: $gray-medium;
  transition: background-color $animation-duration;

  &.dataset-item{
    padding-left: $gutter-md;
    padding-right: $gutter-md;
  }

  &:hover {
    color: $white;
    background-color: $secondary;
  }

  &,
  &:hover,
  .title {
    text-decoration: none;
  }

  .title-wrap {
    display: flex;
    align-items: center;
  }

  .media-edit,
  form {
    margin-top: auto;
    margin-left: auto;
  }

  .datarequest-properties,
  .count.group-desc {
    margin-top: auto;
  }
}
