@mixin flex {
  display: flex;
}

@mixin flex-align-center {
  align-items: center;
}

@mixin flex-align-start {
  align-items: flex-start;
}

@mixin flex-align-end {
  align-items: flex-end;
}

@mixin flex-align-stretch {
  align-items: stretch;
}

@mixin flex-justify-start {
  justify-content: flex-start;
}

@mixin flex-justify-center {
  justify-content: center;
}

@mixin flex-justify-end {
  justify-content: flex-end;
}

@mixin flex-justify-between {
  justify-content: space-between;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}
