.module-content {
  .media-grid {
    @include content-margin-fix;
    background: transparent;
    border: none;
  }
}

.media-view {
  &:hover {
    @include hover-box;
  }
}

.media-item {
  @include content-item-layout;

  &:hover {
    .media-heading {
      color: $secondary;
    }
  }

  .media-heading {
    font-size: $font-size-21;
    font-weight: $font-weight-600;
  }

  .media-image {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: $gutter-list-item-sm;
  }
}
