@mixin btn-primary-reset {
  color: $white;
  background-color: $primary;
  border-radius: 0;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &.focus {
    border-color: transparent;
    background-color: $dark;
  }
}

@mixin btn-default-reset {
  color: inherit;
  border: none;

  &:hover {
    border-color: transparent;
    background-color: shade-color($white, 3%);
  }
}

@mixin hover-box {
  border-radius: 0;
  box-shadow: 0 0 10px 0 fade($primary, 30%);
}

@mixin content-margin-fix {
  margin-left: -$gutter-md;
  margin-right: -$gutter-md;
}

@mixin content-item-layout {
  width: calc(50% - $gutter-lg );
  margin: $gutter-md;
  padding: $gutter-list-item-md;
  border-radius: 0;
  box-shadow: $shadow-light;
}

@mixin tag-list-item{
  padding: .4rem .8rem;
  margin: .4rem;
  background-color: $gray-extra-light;
  border-radius: 0;
  border: none;
  color: $gray-medium;
  font-size: $font-size-12;
}
