
$shadow-light: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$shadow-brand: 0 0 10px 0 rgba(159, 26, 135, 0.2);

$breakpoint-xl: '1200px';
$breakpoint-lg: '1200px';
$breakpoint-md: '1000px';
$breakpoint-sm: '990px';
$breakpoint-xs: '768px';

$font-primary: 'Barlow', sans-serif;

$font-size-12: 12px;
$font-size-13:13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-40: 40px;
$font-size-50: 50px;


$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700:700;

$gutter-sm: 1rem;
$gutter-md: $gutter-sm * 1.5;
$gutter-lg: $gutter-sm * 3;

$gutter-list-item-sm: 2rem;
$gutter-list-item-md: $gutter-list-item-sm * 2;
$gutter-list-item-lg: $gutter-list-item-sm * 3;

$group-icon-size: 8rem;
$animation-duration: 200ms;

$chart-height: 360px;
