.resources{
  .resource-list{
    .resource-item{
      width: auto;
      flex-basis: 100%;
    }
  }
}
.resource-list {
  @include flex;
  @include flex-wrap;
  @include content-margin-fix;

  .resource-item {
    @include flex;
    @include flex-align-center;
    @include content-item-layout;
    background: $white;


    .heading {
      order: 1;
      margin-right: $gutter-md;
      word-wrap: break-word;
    }

    .heading-wrap{
      @include flex;
      flex: 0 1 auto;
      flex-direction: column-reverse;
      order: 1;
      margin-right: $gutter-md;
      margin-left: 10px;
    }

    .display-name{
      margin-bottom: 0px;
    }

    .description{
      margin-top: calc($gutter-sm/2);
      flex: 0 1 30%;
    }

    .validation-badge {
      order: 2;
      margin-left: 10px;
      background: #555;
      color: #fff;
      border-radius: 3px;
      display: inline-block;
      font-size: 14px;
      vertical-align: middle;
      font-weight: 400;
      line-height: 1.2;
    }

    .dropdown.btn-group {
      order: 3;
      position: relative;
      margin-left: auto;
      top: auto;
      left: auto;
      right: auto;
    }
  }

    &:hover {
    
      .resource-title {
        color: $brand-secondary;
      }
    }

    >a {
      color: $gray-medium;
      text-decoration: none;
    }

    

    .resource-item-list {
      @include flex;
    }

    .format-label {
      position: inherit;
    }
  }

  

.resource-content {
  padding: 2rem $gutter-sm * 2;
}

.resource-title {
  margin-top: 0;
}

.dropdown-backdrop {
  position: relative;
}

.resource-img {
  position: relative;
  height: 50px;
}

.custom-label {
  position: absolute;
  color: $white;
  left: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

@media (max-width: 991px) {
  .resource-item {
    .btn-group {
      display: initial;
    }
  }
}

@media (max-width: 1400px) {
  .validation-badge {
    display: table;
    margin-left: 0;
  }
}

@media (max-width: 366px) {
  .validation-badge {
    display: inline-flex;
  }
}