@media only screen and (max-width: $breakpoint-sm) {
    .footer-links div{
        padding: 20px 0px;
    }
    .homepage {
        .group-container {
            padding: 100px 10px;
        }
        .insights {
            padding: 100px 50px;
        }
    }
    .navbar-toggler{
        margin-right: 15px;
    }

    .featured-item{
      flex: 1 1 100%;
    }
}
