.header-secondary {
  font-size: $font-size-24;
  padding-left: .5rem;
}

.form-control,
.controls .form-control {
  font-size: $font-size-14;

  background-color: $white;
  border: none;
  border-radius: 0;
  outline: none;
}
.module-content {
  &>h1 {
    color: $gray-medium;
    font-weight: $font-weight-400;
    font-size: $font-size-40;
  }
}
.control {
  & input {
    background: $white;
  }
}
.module .read-more {
  color: $primary;
  font-size: $font-size-13;
  font-weight: $font-weight-600;
  text-decoration: underline;
}