.data {
  display: flex;
  flex-wrap: wrap;
  // @extend flex;
  // @extend flex-wrap;

  .visualize-card {
    text-align: center;
    flex: 1 0 33.3%;
    padding: 20px;
    margin: $gutter-md;
    background: $white;
    box-shadow: 0 0 30px 0 fade($black, 10%);
  }
}

.c3chart{
  display: flex;
  flex-direction: column;
  // @extend flex;
  // @extend flex-column;
  margin: auto !important;
  svg{
    max-width: 100%;
    max-height: auto !important;
  }
}

.visualize-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // @extend flex;
  // @extend flex-column;
  // @extend flex-justify-center;
  // @extend flex-align-center;
  min-height: $chart-height;
}

.tab-content>.active {
  display: flex;
}

.title {
  font-size: $font-size-20;
  font-weight: $font-weight-500;
  text-decoration: underline;
}

.group-heading {
  font-size: $font-size-40;
  text-align: center;
  font-weight: $font-weight-400;
  padding: 80px 40px 40px;
}

.group-container {
  background: $brand-background;
  padding: 100px 140px;

  .toggle-section {
    padding-bottom: 100px;

    .active {
      border-bottom: 4px solid $brand-secondary;

      >a {
        background: transparent;
        border: none;

        :hover {
          border: none;
        }
      }

      .toggle-view {
        color: $brand-secondary;
      }
    }

    .nav li>a:hover,
    .nav li>a:focus {
      background: transparent;
      border: none;
      text-decoration: none;
    }
  }

  .toggle-view {
    font-size: $font-size-18;
    font-weight: $font-weight-700;
    letter-spacing: 1.8px;
    color: $silver;
    text-transform: uppercase;
  }
}

.js .tab-content {
  display: block;
}
