<footer class="site-footer">
    <div class="container-fluid">
        {% block footer_content %}
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 attribution">
          {% block footer_attribution %}
            <ul class="list-unstyled">
              {% block footer_links %}
              <a class="logo" href="{{ h.url_for('home.index') }}"><img class="dada" src="{{ h.url_for_static('/base/images/Amplus-OpenDataPortal-logo.png') }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
              <p class="text-description py-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros elit, commodo eget feugiat ut, dictum eu ex. Proin eget erat quis augue maximus ultricies. Integer ipsum lectus, vehicula sed elementum sed, congue nec magna. Nulla non accumsan odio, et finibus ligula. Curabitur ut molestie orci.</p>
              {% endblock %}
            </ul>
          {% endblock %}
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 text-left footer-links">
          {% block footer_nav %}
          <div class="col-sm-4 col-xs-12 col-md-4 col-lg-2 mb-md-0 mb-3">
                <p class="footer-nav-title">Navigation</p>
    
                <ul class="list-unstyled footer-nav">
                  <li>
                    <a href="#!">Datasets</a>
                  </li>
                  <li>
                    <a href="#!">Organizations</a>
                  </li>
                  <li>
                    <a href="#!">Groups</a>
                  </li>
                  <li>
                    <a href="#!">About</a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-4 col-lg-2 mb-md-0 mb-3">
                    <ul class="list-unstyled footer-nav">
                      <li>
                        <a href="#!">News</a>
                      </li>
                      <li>
                        <a href="#!">Our Blog</a>
                      </li>
                      <li>
                        <a href="#!">Link</a>
                      </li>
                      <li>
                        <a href="#!">Link</a>
                      </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-4 col-lg-2 mb-md-0 mb-3">
                        <p class="footer-nav-title">Follow Us</p>
            
                        <ul class="list-unstyled footer-nav">
                          <li>
                            <a href="#!">LinkedIn</a>
                          </li>
                          <li>
                            <a href="#!">GitHub</a>
                          </li>
                          <li>
                            <a href="#!">Twitter</a>
                          </li>
                          <li>
                            <a href="#!">Facebook</a>
                          </li>
                        </ul>
                    </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>