{% ckan_extends %}

{% block content %}
{% block maintag %} {{ super() }} {% endblock %}
<div id="content" class="container-fluid">
  {% block main_content %}
  {% block flash %}
  {{ super() }}
  {% endblock %}

  <div class="row flex flex-align-streach flex-wrap {% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
  
    {% block pre_primary %}
    {{ super() }}
    {% endblock %}
    <aside class="secondary col-md-3 col-sm-12 col-xs-12">
        {% block secondary_content %}
        {{ super() }}
        {% endblock %}
    </aside>
    {% block secondary %}
    
   
    {% endblock %}

    {% block primary %}
    <div class="primary col-md-9 col-sm-12 col-xs-12 bg-light">
        <div class="breadcrumb-box">
            {% block toolbar %}
            {{ super() }}
            {% endblock %} 
    
          </div>
      {% block primary_content %}
       
        {{ super() }}
      {% endblock %}

    </div>
    {% endblock %}

  </div>
  {% endblock %}

</div>
</div>
{% endblock %}

{% block footer %}
<footer class="site-footer">
  <div class="container-fluid">
    {{ super() }}
  </div>
</footer>
{% endblock %}
