/* Please check https://docs.ckan.org/en/2.8/theming/ for the already existing stylesheets in CKAN core. */
/* Add your custom LESS code here */
.btn-primary-reset {
  background-color: #6033A7;
  border-radius: 0;
}
.btn-primary-reset:hover,
.btn-primary-reset:active,
.btn-primary-reset:focus,
.btn-primary-reset:active:hover,
.btn-primary-reset.focus {
  background-color: #4f2b8a;
}
.hover-box {
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(159, 26, 135, 0.2);
          box-shadow: 0 0 10px 0 rgba(159, 26, 135, 0.2);
  border: 1px solid #9F1A86;
}
.content-margin-fix {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.content-item-layout {
  width: calc(50% - 3rem);
  margin: 1.5rem;
  padding: 4rem 2rem 4rem 4rem;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Barlow', sans-serif;
}
body .main,
body [role=main] {
  background: #efecf4;
}
body .main .secondary,
body [role=main] .secondary {
  padding-right: 0;
}
body [role=main] {
  min-height: auto;
  padding: 0;
}
body .primary {
  background-color: transparent;
}
.masthead .debug {
  top: 0;
  background: transparent;
}
.secondary,
.secondary .module-content {
  background-color: #fff;
}
.secondary .module-heading {
  background: #efecf4;
}
.form-control {
  border-radius: 0;
  border: none;
  outline: none;
}
.btn {
  border-radius: 0;
  border: none;
  outline: none;
}
.input-group-addon {
  border: none;
  border-radius: 0;
  background-color: #fff;
}
a {
  color: #6033A7;
}
.header-secondary {
  font-size: 24px;
  padding-left: 0.5rem;
}
.form-control {
  border: none;
  border-radius: 0;
  outline: none;
}
.account-masthead {
  background: #6033A7;
}
.account-masthead .account ul li {
  border-left: none;
}
.account-masthead .account ul li > a:hover,
.account-masthead .account ul li > a:active {
  background: #7A64A6;
}
.account-masthead .account ul .notifications > a span.badge {
  background-color: inherit;
}
.masthead {
  background: #6033A7;
  padding: 0;
}
.masthead .navbar-collapse {
  padding: 0;
}
.masthead .navigation .nav-pills.nav {
  background: #6033A7;
}
.masthead .navigation .nav-pills.nav > li {
  border-left: none;
}
.masthead .navigation .nav-pills.nav > li.active > a {
  background-color: #7A64A6;
}
.masthead .navigation .nav-pills.nav > li a {
  padding: 2.5rem 2rem;
  background-color: #6033A7;
  border-radius: 0;
  font-size: 18px;
  font-weight: 500;
}
.masthead .navigation .nav-pills.nav > li a:hover {
  background-color: #7A64A6;
}
.masthead .logo {
  max-width: 350px;
  padding: 2rem 0 1rem 2.5rem;
}
.masthead .logo > img {
  max-width: 100%;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex-align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.toolbar {
  padding: 0;
  margin-bottom: 0;
}
.toolbar .breadcrumb {
  margin: 1rem 1.5rem;
  font-size: inherit;
}
.toolbar .breadcrumb > *:not(:first-child):before {
  content: ">";
  color: #414141;
}
.toolbar .breadcrumb li {
  color: #414141;
}
.toolbar .breadcrumb li.active > a {
  color: #6033A7;
  font-weight: 400;
}
.toolbar .breadcrumb li .active {
  color: #6033A7;
  font-weight: 400;
}
.toolbar .breadcrumb a {
  color: #414141;
}
.page-header {
  background-color: inherit;
  border-bottom: none;
}
.nav-tabs > li.active > a {
  color: #6033A7;
}
.nav-tabs > li.active > a:hover {
  color: #fff;
}
.nav-tabs > li > a {
  background-color: #6033A7;
  color: #fff;
  border-radius: 0;
}
.nav-tabs > li > a:hover {
  background-color: #7A64A6 !important;
}
.module-content > .actions > .btn,
.module-content > .content_action > .btn {
  color: #000;
  background-color: #fff;
}
.module-content > .actions > .btn:hover,
.module-content > .content_action > .btn:hover {
  background-color: #9F1A86;
  color: #fff;
}
.module-content .media-grid {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: transparent;
  border: none;
}
.media-view:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.media-item {
  width: calc(50% - 3rem);
  margin: 1.5rem;
  padding: 4rem 2rem 4rem 4rem;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.media-item:hover {
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(159, 26, 135, 0.2);
          box-shadow: 0 0 10px 0 rgba(159, 26, 135, 0.2);
  border: 1px solid #9F1A86;
}
.media-item:hover .media-heading {
  color: #9F1A86;
}
.media-item:hover .media-heading > a {
  color: #9F1A86;
}
.media-item .media-heading {
  font-size: 21px;
  font-weight: 600;
}
.media-item .media-heading a {
  color: #414141;
  text-decoration: none;
}
.media-item .media-image {
  float: left;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 2rem 2rem 2rem 0;
}
.resource-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.resource-list .resource-item {
  width: calc(50% - 3rem);
  margin: 1.5rem;
  padding: 4rem 2rem 4rem 4rem;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
.resource-list .resource-item:hover {
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(159, 26, 135, 0.2);
          box-shadow: 0 0 10px 0 rgba(159, 26, 135, 0.2);
  border: 1px solid #9F1A86;
}
.resource-list .resource-item:hover .resource-title {
  color: #9F1A86;
}
.resource-list .resource-item a {
  text-decoration: none;
}
.resource-list .resource-item .dropdown.btn-group {
  top: auto;
  bottom: 2rem;
  right: 2rem;
}
.resource-list .resource-item .description {
  padding-left: 2rem;
}
.resource-list .resource-item .resource-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.resource-list .validation-badge {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}
.resource-content {
  padding-bottom: 3rem;
}
.resource-img {
  width: 50px;
  height: 50px;
  position: relative;
}
.resource-title {
  margin-top: 0;
  color: #414141;
  padding-left: 2rem;
  padding-right: 4rem;
  word-break: break-all;
}
.description {
  color: #414141;
  font-weight: 400;
}
.dropdown-backdrop {
  position: relative;
}
.custom-label {
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}
.CSV {
  fill: #DE0465;
}
.ZIP {
  fill: #414141;
}
.JSON {
  fill: #60C020;
}
.resource-item .heading {
  display: none;
}
.module.module-resource {
  width: 100%;
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/barlow-latin-400.woff2') format('woff2'), url('../public/fonts/barlow-latin-400.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/barlow-latin-500.woff2') format('woff2'), url('../public/fonts/barlow-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/barlow-latin-600.woff2') format('woff2'), url('../public/fonts/barlow-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/barlow-latin-700.woff2') format('woff2'), url('../public/fonts/barlow-latin-700.woff') format('woff');
}
.btn-primary {
  background-color: #6033A7;
  border-radius: 0;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary.focus {
  background-color: #4f2b8a;
}
.open > .dropdown-toggle.btn-primary {
  background-color: #6033A7;
  border-radius: 0;
}
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:active,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #4f2b8a;
}
.btn-search {
  background-color: #6033A7;
  padding: 1.4rem 0;
  outline: none;
  border: none;
}
.btn-input-search {
  padding: 1.4rem;
  color: #FFFFFF;
  background-color: #6033A7;
  border: none;
  outline: none;
}
.btn-default {
  border: none;
}
.btn-default:hover {
  background-color: #f7f7f7;
}
.facet {
  font-weight: 600;
}
.filtered.pill {
  border-radius: 0;
  padding: 0.4rem 0.8rem;
  background-color: #E6E6E6;
  color: #414141;
  margin: 0.5rem 0.2rem;
}
.filtered.pill a {
  color: #414141;
}
.primary .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: none;
}
.primary .search-form > * {
  min-width: 25%;
  width: 25%;
}
.primary .search-form > *:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 50%;
  width: 50%;
}
.primary .search-form > span {
  display: none;
}
.primary .search-form > h2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #9F1A86;
  font-weight: 600;
  padding-left: 2rem;
  margin-bottom: 30px;
  margin-top: 0;
}
.primary .search-form .control-order-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 0;
  position: relative;
}
.primary .search-form .control-order-by:after,
.primary .search-form .control-order-by:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  border-style: solid;
  background: #fff;
  border-color: transparent #414141;
  pointer-events: none;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.primary .search-form .control-order-by:after {
  top: 60%;
  margin-top: -4px;
  border-width: 4px 0 4px 4px;
}
.primary .search-form .control-order-by:before {
  top: 40%;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
}
.primary .search-form .control-order-by > label {
  display: none;
}
.primary .search-form .control-order-by select {
  height: 46px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding-right: 4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.primary .search-form .show-filters,
.primary .search-form .filter-list {
  min-width: auto;
  width: auto;
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../../fanstatic/public/fonts/barlow-latin-400.woff2') format('woff2'), url('../../fanstatic/public/fonts/barlow-latin-400.woff') format('woff'), url('/fanstatic/public/fonts/barlow-latin-500.woff2') format('woff2'), url('/fanstatic/public/fonts/barlow-latin-500.woff') format('woff');
}
body {
  font-family: 'Barlow', sans-serif;
}
.site-footer {
  background: #FFFFFF;
  padding: 100px 120px;
}
.site-footer .logo img {
  max-height: 30px;
}
.text-description {
  color: #9E9E9E;
  font-size: 15px;
  font-weight: 500;
  margin-top: 25px;
}
.footer-nav-title {
  color: #9F1A86;
  font-size: 16px;
  font-weight: 600;
}
.footer-nav li {
  padding: 5px 0;
}
.footer-nav li a {
  color: #9E9E9E;
  font-size: 16px;
  font-weight: 600;
}
.col-md-2 {
  float: right;
}
body {
  background: white;
  color: #414141;
}
.homepage .blogs {
  background: #FFFFFF;
}
.homepage .blogs .container-fluid > .row > [class*='col-'] {
  display: block;
}
.homepage .blogs .h2 {
  font-size: 40px;
  font-weight: 400;
}
.homepage .blogs .box {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  margin: 60px 0px;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.homepage .blogs .box:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(96, 51, 167, 0.3);
          box-shadow: 0 0 30px 0 rgba(96, 51, 167, 0.3);
}
.homepage .blogs .box:hover a {
  text-decoration: none;
}
.homepage .blogs .btn-view-all {
  padding: 15px 70px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0 10px 10px 0 rgba(65, 65, 65, 0.3);
          box-shadow: 0 10px 10px 0 rgba(65, 65, 65, 0.3);
}
.homepage .blogs .title {
  color: #414141;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0;
}
.homepage .blogs .description {
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 20px 20px 20px;
  margin: 0;
}
@media (min-width: 1200px) {
  .footer-links {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-links div {
    margin-right: 40px;
  }
  .footer-links div:nth-child(2) {
    margin-right: 150px;
    margin-top: 32px;
  }
}
@media (min-width: 1200px) {
  body [role=main] .secondary {
    padding: 3rem;
  }
}
@media (max-width: 1200px) {
  .attribution {
    text-align: center;
    padding: 0px 0px 30px 0px;
  }
  .footer-links {
    float: none;
    text-align: center;
  }
  .footer-links {
    float: none;
    text-align: center;
  }
  .masthead .navigation .nav-pills.nav > li a {
    padding: 2.2rem 0.8rem;
    font-size: 15px;
  }
  .masthead .navigation .nav-pills.nav > li a img {
    max-width: 18px;
    max-height: 18px;
  }
  .masthead .logo {
    max-width: 250px;
  }
   > .control-order-by {
    padding-right: 0;
  }
  .search-input-group {
    margin-bottom: 2rem;
  }
  .primary .search-form > * {
    min-width: 50%;
    width: 50%;
  }
  .primary .search-form > *:first-child {
    min-width: 100%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .primary .search-form > h2 {
    padding-left: 0;
  }
  .primary .search-form > .control-order-by {
    padding-right: 0;
  }
  .media-grid .media-item,
  .resource-list .resource-item {
    width: calc(100% - 1rem*2);
  }
}
@media only screen and (max-width: 990px) {
  .homepage .insights {
    padding: 100px 50px;
  }
  .navbar-toggle {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-links div {
    padding: 20px 0px;
  }
  .masthead .navigation .nav-pills.nav > li a {
    padding: 2.2rem 2.5rem;
  }
}
