{% set intro = g.site_intro_text %}

<div class="hero-content-wrapper">
  <section class="featured media-overlay hidden-xs">
    {% block home_image_content %}
      <a class="media-image" href="#">
        <img class="img-responsive hero-img" src="{{ h.url_for_static('/base/images/hero-illustration.png') }}" alt="Placeholder" />
      </a>
    {% endblock %}
  </section>

  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      {% if g.site_title %}
        <p class="page-heading">{{ g.site_title }}</p>
      {% endif %}
      {% if g.site_description %}
        <p class="promoted-desc">
          {{ g.site_description }}
        </p>
      {% endif %}
    {% endif %}
  </header>
</div>
