<section class="additional-info">

  {% if pkg_dict.maintainer_email %}
  <div>
    <h3 class="side-heading">{{ _('Maintainer') }}</h3>
    <p class="dataset-details side-inner" property="dc:contributor">
      {{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</p>
  </div>
  {% elif pkg_dict.maintainer %}
  <div>
    <h3 class="side-heading">{{ _('Maintainer') }}</h3>
    <p class="dataset-details side-inner" property="dc:contributor">{{ pkg_dict.maintainer }}</p>
  </div>
  {% endif %}

  {% if pkg_dict.metadata_created %}
  <div>
    <h3 class="side-heading">{{ _("Publication Date") }}</h3>
    <p class="dataset-details">
      {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
    </p>
  </div>
  {% endif %}

  {% if pkg_dict.metadata_modified %}
  <div>
    <h3 class="side-heading">{{ _("Update Date") }}</h3>
    <p class="dataset-details">
      {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
    </p>
  </div>
  {% endif %}

  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
  <div>
    <h3 class="side-heading">{{ _("State") }}</h3>
    <p class="dataset-details">{{ _(pkg_dict.state) }}</p>
  </div>
  {% endif %}
  {% if pkg_dict.url %}
  <div>
    <h3 class="side-heading">{{ _('Source') }}</h3>
    {% if h.is_url(pkg_dict.url) %}
    <p class="dataset-details" property="foaf:homepage">
      {{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</p>
    {% else %}
    <p class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</p>
    {% endif %}
  </div>
  {% endif %}

  {% if pkg_dict.author_email %}
  <div>
    <h3 class="side-heading">{{ _("Author") }}</h3>
    <p class="dataset-details" property="dc:creator">
      {{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</p>
  </div>
  {% elif pkg_dict.author %}
  <div>
    <h3 class="side-heading">{{ _("Author") }}</h3>
    <p class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</p>
  </div>
  {% endif %}

  {% if pkg_dict.version %}
  <div>
    <h3 class="side-heading">{{ _("Version") }}</h3>
    <p class="dataset-details">{{ pkg_dict.version }}</p>
  </div>
  {% endif %}
</section>
