*,
*:after,
*:before{
    padding: 0;
    margin: 0;
    background-color: inherit;
    font-family: inherit;
}
body{
    font-family: Barlow;
    background-color: @brand-primary;
}
.debug{
    display: none;
}
.module-content{
    background: @brand-background;
}
body [role=main]{
  padding: 0;
  background-color: @brand-background;
}
body [role=main] .secondary{
  background-color: #fff;
}

.form-control{
    border-radius: 0;
    border:none;
    outline:none;
}
.btn{
    border-radius: 0;
    border: none;
    outline:none;
}
.editor .editor-info-block{
    background-color: @brand-primary;
    color: #fff;
    font-weight: 600;
    & a{
        color: @brand-tertiary;
        font-weight: 600;
    }
}
.input-group-addon{
    border: none;
    border-radius: 0;
    background-color: #fff;
}