.btn-primary{
  background-color: @brand-primary;
  border-radius: 0; 
}
.btn-search{
  background-color: @brand-primary;
  padding: 1.4rem 0 ;
  outline: none;
  border: none;
}
.btn.btn-default{
  max-height: 50px ;
  background-color: #fff;
  outline: none;
  border:none;
}
.btn-input-search{
  &:hover{
    background-color: inherit;
  }
}
