.btn-primary{
  background-color: @brand-primary;
  border-radius: 0; 
}
.btn-search{
  background-color: @brand-primary;
  padding: 1.4rem 0 ;
  outline: none;
  border: none;
}
.btn-input-search{
  padding: 1.4rem;
  color: #fff;
  background-color: @brand-primary;
  border: none;
  outline:none;
}
.btn-default{
  border: none;
  &:hover{
    color: #fff;
    background-color: @brand-secondary;
  }
}