@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../../fanstatic/public/fonts/barlow-latin-400.woff2') format('woff2'),
         url('../../fanstatic/public/fonts/barlow-latin-400.woff') format('woff'),
         url('/fanstatic/public/fonts/barlow-latin-500.woff2') format('woff2'),
         url('/fanstatic/public/fonts/barlow-latin-500.woff') format('woff')
  }


body {
    font-family: 'Barlow', sans-serif;
}

.site-footer {
    background: @white;
    padding: 100px 120px;
    & .logo img{
        max-height: 30px;
    }
}

.text-description {
    color: @silver;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
}

.footer-nav-title {
    color: @brand-secondary;
    font-size: 16px;
    font-weight: 600;
}

.footer-nav li {  
    padding: 5px 0;
    & a {
        color: @silver;
        font-size: 16px;
        font-weight: 600;
    }
}

.col-md-2 {
    float: right;
}

@media (@breakpoint-xl) {
    .footer-links {
        text-align: left;
        display: flex;
        justify-content: flex-end; 
        & div {
            margin-right: 40px;
        }
        & div:nth-child(2){
            margin-right: 150px;
            margin-top: 32px;
        }
    }
 }

@media (@breakpoint-lg) {
    .attribution {
        text-align: center;
        padding:0px 0px 30px 0px;
    }
    .footer-links {
        float: none;
        text-align: center;
    }
 }

 @media only screen and (@breakpoint-sm) {
    .footer-links div{
        padding: 20px 0px;
    }
}