.group-topics {
  .group-heading {
    margin-top: 60px;
  }
}

.primary {
  .group-topics {
    padding: @gutter-sm @gutter-md;
  }
}

.data {
  > .empty {
    margin: auto;
    font-size: @font-size-20;
  }
}

.group-topics-list {
  .flex;
  .flex-wrap;
  .flex-justify-center;
}

.module-content{
  .group-item{
    flex: 1 0 40%;
  }
}
.group-item {
  .flex;
  .flex-wrap;
  .flex-column;
  flex: 0 1 21.5%;
  margin: @gutter-md;
  padding: @gutter-lg;
  background-color: @white;
  box-shadow: 0 0 30px 0 fade(@black, 10%);
  color: @gray-medium;
  transition: background-color @animation-duration;
  position: relative;
  &:hover{
    color: @white;
    background-color: @brand-secondary;
  }

  &,
  &:hover,
  .title {
    text-decoration: none;
  }

  .title-wrap {
    .flex;
    .flex-align-center;
  }
}
.group-content-wrapper{
  display: flex; 
  align-items: center; 
  height: 100%;
}
.group-link{
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  cursor: pointer;
}
.group-topics,
.group-container {
  margin-left: -3rem;
  margin-right: -3rem;
  background: @brand-background;

  .group-title {
    font-size: @font-size-22;
    font-weight: @font-weight-600;
    line-height: 1.25;
    margin: auto @gutter-md;
  }

  .group-desc {
    margin-top: @gutter-md;
    font-size: @font-size-16;
    padding: 0 @gutter-md;
  }

  .module-image {
    padding: @gutter-sm;
  }

  .group-icon {
    .flex;
    .flex-justify-center;
    .flex-align-center;
    height: @group-icon-size;
    width: @group-icon-size;
    background-color: @oval-bg;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .group-item-desc {
    font-size: @font-size-18;
  }

}
