body {
    font-family: 'Barlow';
    color: @text-dark;
}

a {
    color: @text-dark;
}

.group-heading {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    padding: 40px 0 80px 0;
}

.group-container {
    background: @brand-background;
    padding: 100px 140px;

    & .module-heading {
        height: 180px;
        margin-bottom: 25px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

        & .module-image {
            padding: 10px 0 0 10px;
        }

        & .group-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            background-color: @oval-bg;
            border-radius: 50%;

            & i {
                font-size: 25px;
                color: @brand-primary;
                padding: 4px 0 0 6px;
            }
        }

        & .media-heading, .group-item-desc {
            width: 220px;
            margin-left: 85px;
        }

        & .group-item-desc {
            font-size: 18px;
        }

        & .media-heading {
            margin-top: 20px;
            font-size: 25px;
            font-weight: 600;
        }
    }
}