.module-content .media-grid {
  .content-margin-fix;
  background: transparent;
  border: none;
  
}
.media-view {
  &:hover {
    box-shadow: none;
    border:none;
  }
}
.media-item {
  .content-item-layout;
  &:hover {
    .hover-box();
    .media-heading {
      color: @brand-secondary;
      >a {
        color: @brand-secondary;
      }
    }
  }
  .media-heading {
    font-size: 21px;
    font-weight: 600;
    a {
      color: @gray-medium;
      text-decoration: none;
    }
  }
  .media-image {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: @gutter-list-item-small @gutter-list-item-small @gutter-list-item-small 0;
  }
}