.btn-primary-reset {
  color: @white;
  background-color: @brand-primary;
  border-radius: 0;

  &:hover,
  &:focus,
  &:active,
  &.focus {
    border-color: transparent;
    background-color: @brand-dark;
  }
}
.btn-default-reset {
  color: inherit;
  border: none;

  &:hover {
    border-color: transparent;
    background-color: darken(@white, 3%);
  }
}
.hover-box{
  border-radius: 0;
  box-shadow: @shadow-brand;
  border: 1px solid @brand-secondary;
}
.content-margin-fix{
  margin-left: -@gutter-medium;
  margin-right: -@gutter-medium;
}
.content-item-layout{
  width: calc(50% - @gutter-large );
  margin: @gutter-medium;
  padding: @gutter-list-item-medium @gutter-list-item-small @gutter-list-item-medium @gutter-list-item-medium;
  border-radius: 0;
  box-shadow: @shadow-light;
}
