body {
  background-color: @brand-primary;
}

.account-masthead {
  background: @brand-primary;

  & .account {
    & ul {
      & li {
        border-left: none;
        &>a {

          &:hover,
          &:active {
            background: @brand-quaternary;
          }
        }
      }

      & .notifications {
        &>a {
          & span.badge {
            background-color: inherit;
          }
        }
      }
    }
  }
}

.masthead {
  background: @brand-primary;
  padding: 0;

  & .navbar-collapse {
    padding: 0;
  }
}

.masthead .navigation .nav-pills.nav {
  background: @brand-primary;

  &>li {
    &.active>a {
      background-color: @brand-quaternary;
    }

    & a{
      padding: 2.5rem 2rem;
      background-color: @brand-primary;
      border-radius: 0;
      font-size: 18px;
      font-weight: 500;

      &:hover {
        background-color: @brand-quaternary;
      }
    }
  }

  li {
    border-left: none;
  }
}

.masthead .logo {
  max-width: 350px;
  padding: 2.5rem 0 1rem 2.5rem;

  &>img {
    max-width: 100%;
  }
}

