
.masthead .navigation .nav-pills.list-custom {
  &>li {
    &.active > a{
      background-color: @brand-quaternary;
    }
    & a,
    & button{
      padding: 2.2rem 2rem;
      background-color: @brand-primary;
      border-radius: 0;
      font-size: 18px;
      font-weight: 500;
      &:hover {
        background-color: @brand-quaternary;
      }
    }
  }
  li {
    border-left: none;
  }
}
.logo-box {
  max-width: 300px;
  padding: 2rem 0 1rem 1.7rem;
}
.account.avatar.authed li {
  border-left: none;
}
.search.collapse {
  & .input-search {
    width: 100vw;
    height: 0;
    overflow: hidden;
  }
}
.search.collapsing {
  & .input-search {
    width: 100vw;
  }
}
.search.collapse.in {
  & .input-search {
    width: 100vw;
    height: auto;
    overflow: visible;
  }
}
#field-sitewide-search {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 2.5rem;
  border-radius: 0;
  outline: none;
  border: none;
}