.page-header {
  background-color: inherit;
  border-bottom: none;
}
.module-content {
  .nav-tabs.nav-tabs-plain,
  .nav-tabs {
    border: none;
    >li {
      margin-right: 1rem;
      &.active {
        background: @white;
        >a {
          color: @brand-primary;
          border: none;
          background: @white;
          font-weight: 700;
          &:hover {
            color: @white;
            background-color: @brand-quaternary;
          }
        }
      }
      >a {
        background-color: @brand-primary;
        color: @white;
        border-radius: 0;
        font-weight: 700;
        &:hover {
          background-color: @brand-dark;
          .badge {
            background-color: @brand-dark;
          }
        }
      }
      .badge {
        background-color: @brand-primary;
      }
    }
  }
  &>a {
    background-color: @brand-primary;
    color: @white;
    border-radius: 0;
    &:hover {
      background-color: @brand-dark;
    }
  }
}
.module-content {
  >.actions,
  >.content_action {
    >.btn {
      color: @black;
      background-color: @white;
      &:hover {
        background-color: darken(@white, 3%);

      }
    }
    >.btn-danger {
      color: @white;
      background-color: @brand-tertiary;
      &:hover {
        background-color: @brand-tertiary-light;
      }
    }
  }
}
