.module-content {
  .nav-tabs {
    >li {
      &.active {
        a {
          .btn-default-reset;
        }
      }

      a {
        .btn-primary-reset;
      }
    }
  }

  .nav-tabs.nav-tabs-plain,
  .nav-tabs {
    border: none;

    >li {
      margin-right: 1rem;

      .badge {
        background-color: @brand-primary;
      }
    }
  }
}

.module-content {

  >.actions,
  >.content_action {
    >.btn {
      color: @black;
      background-color: @white;

      &:hover {
        background-color: darken(@white, 3%);

      }
    }

    >.btn-danger {
      color: @white;
      background-color: @brand-tertiary;

      &:hover {
        background-color: @brand-tertiary-light;
      }
    }
  }
}
