.hero {
    padding: 120px 0px;
    display: flex;
    justify-content: center;
    background: @brand-background;
    
    .hero-img {
        min-width: auto;
        width: 196px;
        height: 145px;
    }
    .media-image {
        display: flex;
        justify-content: center;
    }
    .page-heading {
        padding-top: 30px;
        font-size: 50px;
        color: @brand-primary;
    }
    .promoted-desc {
        font-size: 18px;
    }
}
