.resource-list {
  display: flex;
  flex-wrap: wrap;
  .content-margin-fix;
  .resource-item {
    .content-item-layout;
    background: #fff;
    &:hover {
      .hover-box();
      .resource-title {
        color: @brand-secondary;
      }
    }
    >a {
      color: @gray-medium;
      text-decoration: none;
    }
    .dropdown.btn-group {
      top: auto;
      bottom: @gutter-small * 2;
      right: @gutter-small * 2;
    }
    .resource-item-list {
      display: flex;
    }
  }
  .validation-badge {
    position: absolute;
    bottom: @gutter-small * 2;
    left: @gutter-large;
  }
}
.resource-content {
  padding-bottom: 3rem;
  padding-left: @gutter-small * 2;
}
.resource-title {
  margin-top: 0;
}
.dropdown-backdrop {
  position: relative;
}
.resource-img {
  position: relative;
  height: 50px;
}
.custom-label {
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}
.CSV {
  fill: #DE0465;
}
.ZIP {
  fill: #414141;
}
.JSON {
  fill: #60C020;
}
