.resource-list {
  .flex;
  .flex-wrap;
  .content-margin-fix;

  .resource-item {
    .flex;
    .flex-wrap;
    .flex-justify-between;
    .flex-align-center;
    .content-item-layout;
    background: @white;

    .heading {
      .flex;
      .flex-align-center;
    }

    .display-name{
      margin: auto @gutter-md;
    }

    .description{
      flex: 0 1 30%;
    }

    &:hover {
      .hover-box;

      .resource-title {
        color: @brand-secondary;
      }
    }

    >a {
      color: @gray-medium;
      text-decoration: none;
    }

    .btn-group {
      position: relative;
      top: auto;
      left: auto;
    }

    .resource-item-list {
      .flex;
    }

    .format-label {
      position: inherit;
      order: -1;
    }
  }

  .validation-badge {
    position: absolute;
    bottom: @gutter-sm * 2;
    left: @gutter-lg;
  }
}

.resource-content {
  padding: 2rem @gutter-sm * 2;
}

.resource-title {
  margin-top: 0;
}

.dropdown-backdrop {
  position: relative;
}

.resource-img {
  position: relative;
  height: 50px;
}

.custom-label {
  position: absolute;
  color: @white;
  left: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}
