.stats-container {
    background: @brand-background;
    padding: 0;
    padding-top: @gutter-lg * 2;
}

.stats {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: @gutter-md 0;
    height: 100px;
    width: 100%;
    h3 {
        display: none;
    }
}

.stat-content {
    padding: @gutter-sm 0;
    width: @gutter-lg * 6;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    a {
        display: flex;
    }
    .oval {
        border-radius: 50%;
        background-color: rgba(156, 36, 132, 0.1);
        width: @gutter-sm * 5;
        height: 50px;
        color: @brand-secondary;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        height: 50px;
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        padding-left: @gutter-sm * 2;
        line-height: 1.2;
    }
    .stat-number {
        font-size: @font-size-25;
        font-weight: @font-weight-600;
        color: @text-dark;
    }
    .stat-title {
        font-size: @font-size-18;
        color: @text-dark;
        text-transform: capitalize;
    }
}

.stats-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.stats-wrapper:before {
    content: "";
    flex: 1 0 25%;
    height: 1px;
    float: left;
    background-color: @gray-medium;
    display: flex;
    align-self: center;
}

.stats-wrapper:after {
    content: "";
    flex: 1 0 25%;
    height: 1px;
    float: right;
    background-color: @gray-medium;
    display: flex;
    align-self: center;
}

