.header-secondary {
  font-size: @font-size-largest;
  padding-left: .5rem;
}

.form-control,
.controls .form-control {
  background-color: @white;
  border: none;
  border-radius: 0;
  outline: none;
}
.module-content {
  &>h1 {
    color: @gray-medium;
    font-weight: @font-weight-medium;
    font-size: @font-size-huge;
  }
}
.control {
  & input {
    background: @white;
  }
}
.module .read-more {
  color: @brand-primary;
  font-size: @font-size-medium-small;
  font-weight: @font-weight-large;
  text-decoration: underline;
}