
@brand-primary: #6033A7;
@brand-secondary: #9F1A86;
@brand-tertiary: #DE0064;

@white: #FFFFFF;
@silver: #C0C0C0;
@black: #000000;

@breakpoint-xl: ~'min-width: 1200px';
@breakpoint-lg: ~'max-width: 1200px';
@breakpoint-sm: ~'max-width: 768px';
