@brand-primary:     #6033A7;
@brand-secondary:   #9F1A86;
@brand-tertiary:    #DE0064;
@brand-quaternary:  #7A64A6;
@brand-dark:        #4f2b8a;
@brand-extra-light: #EBD3E6;
@brand-background:  #EFECF4;
@text-dark:         #414141;
@oval-bg:           #CFBEDC;
@brand-light: #7A64A6;
@brand-background: #efecf4;
@brand-tertiary-light: #b50a57;



@brand-light: #7A64A6;
@brand-background: #efecf4;

@gray-medium: #414141;

@gray-medium: #414141;
@gray-light: #E6E6E6;
@gray-extra-light: #E6E6E6;

@white: #FFFFFF;
@silver:#9E9E9E;
@black: #000000;

@shadow-light: 0 0 10px 0 rgba(0, 0, 0, 0.1);
@shadow-brand: 0 0 10px 0 rgba(159, 26, 135, 0.2);

@breakpoint-xl: ~'1200px';
@breakpoint-lg: ~'1200px';
@breakpoint-md: ~'1000px';
@breakpoint-sm: ~'990px';
@breakpoint-xs: ~'768px';

@font-primary: 'Barlow', sans-serif;

@font-size-12: 12px;
@font-size-13:13px;
@font-size-14: 14px;
@font-size-15: 15px;
@font-size-16: 16px;
@font-size-17: 17px;
@font-size-18: 18px;
@font-size-20: 20px;
@font-size-21: 21px;
@font-size-22: 22px;
@font-size-24: 24px;
@font-size-40: 40px;
@font-size-50: 50px;


@font-weight-400: 400;
@font-weight-500: 500;
@font-weight-600: 600;
@font-weight-700:700;

@gutter-sm: 1rem;
@gutter-md: @gutter-sm * 1.5;
@gutter-lg: @gutter-sm * 3;

@gutter-list-item-sm: 2rem;
@gutter-list-item-md: @gutter-list-item-sm * 2;
@gutter-list-item-lg: @gutter-list-item-sm * 3;

@group-icon-size: 8rem;
@animation-duration: 200ms;
