{% ckan_extends %}
{{ super() }}

{% block secondary_content %}
{% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
{% endblock %}
{% block package_organization %}
  {% if pkg.organization %}
    {% set org = h.get_organization(pkg.organization.name) %}
    {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
  {% endif %}
{% endblock %}
<h2 class="module-heading">
  <i class="fa fa-info-circle"></i>
    {{ _('Additional Info') }}
</h2>
{% block topics %}
{% snippet "package/snippets/topics.html", pkg_dict=pkg %}
{% endblock%}

{% block package_tags %}
{% snippet "package/snippets/tags.html", tags=pkg.tags %}
{% endblock %}

{% block package_license %}
{% snippet "snippets/license.html", pkg_dict=pkg %}
{% endblock %}

{% block package_additional_info %}
{% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
{% endblock %}

{% endblock %}
