{% ckan_extends %}

{% block primary_content %}
{{ super() }}

{% block featured_charts_wrapper %}
{% endblock %}

{% set blogs = h.get_recent_blog_posts(4) %}

{% if g.homepage_blogs == 'yes' and blogs %}
<div class="blogs">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 w-100 flex-shrink-0 flex-grow-0">
            <p class="group-heading">{{_("Insights")}}</p>
          <div class="row">
              {% for item in blogs %}
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="box">
                          {% if item.image %}
                          <a href="{{ h.url_for('pages.blog_show', page='' + item.name) }}">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="media-image item-image">
                          </a>
                          {% endif %}
                          <div class="item-body">
                              <a href="{{ h.url_for('pages.blog_show', page='' + item.name) }}">
                                <h3 class="title media-heading">{{ item.title }}</h3>
                              </a>
                              <p class="description">{{ item.content|striptags|truncate(300) }}</p>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <div class="text-center">
          <a class="btn btn-large btn-primary btn-view-all" href="{{ h.url_for('pages.blog_index') }}">
            {{_("View All")}}
          </a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

{% endblock %}