<div role="main" class="hero text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% block promoted %}
            {% snippet 'home/snippets/promoted.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
</div>
<div class="group-container">
    <p class="group-heading">{{_("Explore Topics")}}</p>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              {% block featured_group %}
                {% snippet 'home/snippets/custom_featured_group.html' %}
              {% endblock %}
            </div> 
          </div>
        </div>
    </div>
</div>
