<div role="main" class="hero">
    <div class="container">
      <div class="row row1">
        <div class="col-md-6 col1">
          {% block search %}
            {% snippet 'home/snippets/search.html' %}
          {% endblock %}
          {% block stats %}
            {% snippet 'home/snippets/stats.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6 col2">
          {% block promoted %}
            {% snippet 'home/snippets/promoted.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div role="main">
    <div class="container">
      <div class="row row2">
        <div class="col-md-6 col2">
          {% block featured_organization %}
            {% snippet 'home/snippets/featured_organization.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6 col1">
          {% block featured_group %}
            {% snippet 'home/snippets/featured_group.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
 <div class="insights">
    {% set blogs = h.get_recent_blog_posts(4) %} {% if blogs %}
    <p class="group-heading">{{_("Insights")}}</p>
    <div class="container-fluid">
      <div class="row panel-row">
        {% for item in blogs %}
        <div class="col-md-3 col-sm-4 col-xs-12 panel">
          {% if item.image %}
          <a class="item" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + item.name) }}">
            <div class="image-wrap">
              <img class="image" src="{{ item.image }}" alt="photo"> {% endif %}
            </div>
            <div class="body">
              <p class="title" role="heading">{{ item.title }}</p>
              <p class="description" role="text">{{ item.content|striptags|truncate(300) }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
 </div>